mlflow==2.8.0
cffi==1.16.0
cloudpickle==2.2.1
dask==2023.5.0
defusedxml==0.7.1
graphviz==0.16
imbalanced-learn==0.11.0
importlib-metadata==6.8.0
jinja2==3.0.3
lightgbm==4.1.0
matplotlib==3.7.3
numpy==1.24.4
packaging==23.2
pandas==1.5.3
psutil==5.9.5
pyarrow==13.0.0
pyyaml==6.0.1
scikit-learn==1.2.0
scipy==1.10.1
streamlit
pandas
scikit-learn
streamlit-shap
matplotlib.pyplot